{% extends 'base.html.twig' %}

{% block title %}Panneau de contrôle de l'éditeur{% endblock %}

{% block body %}

<div class="bg-default-light h-100">
    <section class="container-fluid h-100">
        <div class="row h-100">
            <aside class="col-md-2 py-5 text-end">
                <p class="article-link">
                    <a href="{{ path('app_edit_image_index') }}" class="ms-2">
                        <i class="bi bi-image me-1"></i>
                        Gestion des images
                    </a>
                    <i class="bi bi-chevron-right fw-bold"></i>
                </p>
                <p class="article-link">
                    <a href="{{ path('app_edit_category_index') }}" class="ms-2">
                        <i class="bi bi-folder-fill me-1"></i>
                        Les catégories
                    </a>
                    <i class="bi bi-chevron-right fw-bold"></i>
                </p>
                <p class="article-link">
                    <a href="{{ path('app_edit_portal_index') }}" class="ms-2">
                        <i class="bi bi-tag-fill me-1"></i>
                        Les portails
                    </a>
                    <i class="bi bi-chevron-right fw-bold"></i>
                </p>
                <p class="article-link">
                    <a href="{{ path('app_edit_article_index') }}" class="ms-2">
                        <i class="bi bi-file-earmark-text me-1"></i>
                        Mes articles
                    </a>
                    <i class="bi bi-chevron-right fw-bold"></i>
                </p>
            </aside>

            <div class="col-md-10 bg-white h-100">
                <header class="bg-light border p-3 my-3">
                    <h1 class="h2 text-muted">Créer et éditer le contenu de l'encyclopédie</h1>
                </header>

                <p class="my-4 text-center text-muted">
                    Bienvenue dans l'espace de rédaction de l'encyclopédie.<br>
                    Sur cette page, vous allez pouvoir gérer vos articles, les portails et les catégorie 
                    si vous avez les permissions.
                </p>
                
                <div class="row mt-3 mx-4 gy-5">
                    <div class="col-md-6">
                        <article class="border shadow-sm position-relative">
                            <h2 class="h5 border-bottom p-2">
                                <i class="bi bi-folder-fill me-1"></i> Gérer les catégories
                            </h2>
                            <span class="position-absolute top-0 end-0 badge m-2 rounded-pill bg-danger">
                                <a href="{{ path('app_edit_category_new') }}" class="text-reset text-decoration-none">
                                    Créer
                                </a> 
                            </span>
                            <ul>
                                <li><a href="{{ path('app_edit_category_index') }}">Gérer les catégories</a></li>
                            </ul>
                        </article>
                    </div>

                    <div class="col-md-6">
                        <article class="border shadow-sm position-relative">
                            <h2 class="h5 border-bottom p-2">
                                <i class="bi bi-tag-fill me-1"></i> Gérer les portails
                            </h2>
                            <span class="position-absolute top-0 end-0 badge m-2 rounded-pill bg-danger">
                                <a href="{{ path('app_edit_portal_new') }}" class="text-reset text-decoration-none">
                                    Créer
                                </a> 
                            </span>
                            <ul>
                                <li><a href="{{ path('app_edit_portal_index') }}">Gérer les portails</a></li>
                            </ul>
                        </article>
                    </div>

                    <div class="col-md-6">
                        <article class="border shadow-sm position-relative">
                            <h2 class="h5 border-bottom p-2">
                                <i class="bi bi-file-earmark-text me-1"></i> Gérer les articles
                            </h2>
                            <span class="position-absolute top-0 end-0 badge m-2 rounded-pill bg-danger">
                                <a href="{{ path('app_edit_article_new') }}" class="text-reset text-decoration-none">
                                    Créer
                                </a> 
                            </span>
                            <ul>
                                <li><a href="{{ path('app_edit_article_index') }}">Gérer mes articles</a></li>
                            </ul>
                        </article>
                    </div>

                     <div class="col-md-6">
                        <article class="border shadow-sm position-relative">
                            <h2 class="h5 border-bottom p-2">
                                <i class="bi bi-image me-1"></i> Gérer les images
                            </h2>
                            <span class="position-absolute top-0 end-0 badge m-2 rounded-pill bg-danger">
                                <a href="{{ path('app_edit_article_new') }}" class="text-reset text-decoration-none">
                                    Uploader
                                </a> 
                            </span>
                            <ul>
                                <li><a href="{{ path('app_edit_image_index') }}">Gérer les images</a></li>
                            </ul>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</div>
    
{% endblock %}