<section class="my-4 container-fluid">
    <h2 class="mb-2 text-muted h4">Formulaire</h2>
    <div class="border rounded-3 p-4">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">{{ form_row(form.title) }}</div>
                <div class="col-md-6">{{ form_row(form.keywords) }}</div>
            </div>
            {{ form_widget(form) }}
            <button class="btn btn-secondary">{{ button_label|default('Sauvegarder') }}</button>
        {{ form_end(form) }}
    </div>
</section>