{% extends 'base.html.twig' %}

{% block title %}{{ category.title }} | Catégorie {% endblock %}

{% block description %}{{ category.description }}{% endblock %}

{% block body %}
{% include "category/components/_header.html.twig" with {articles: true} %}
    <section class="row justify-content-between">
        <article class="col-md-7 p-4">
            <h2 class="list-title">Les articles de cette catégorie</h1>

            {{ include('components/layout/_single_col_list.html.twig',{path: 'app_article', items: articles}) }}

            <div class="navigation">
                {{ knp_pagination_render(articles) }}
            </div>
            
        </article>
        <aside class="col-md-4 aside">
            <h3 class="h4 mb-4">Portails de cette catégorie</h3>
            {{ include('components/layout/_tag_list.html.twig', {items: category.portals, path: 'app_portal'}) }}
        </aside>
    </section>
{% endblock %}
