<nav class="navbar navbar-expand-lg navbar-dark bg-default text-uppercase">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">{{ website_name() }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-3">
                    <a class="nav-link {{ active_link(app.request, 'app_home') }}" href="{{ path('app_home') }}">
                        Accueil
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link {{ active_link(app.request, 'app_article_index', false) }}" href="{{ path('app_article_index') }}">
                        Articles
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link {{ active_link(app.request, 'app_portal_index', false) }}" href="{{ path('app_portal_index') }}">
                        Portails
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link {{ active_link(app.request, 'app_image', false) }}" href="{{ path('app_image') }}">
                        Galerie
                    </a>
                </li>
                {% if is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
                     <li class="nav-item dropdown me-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </a>
                        <ul class="dropdown-menu text-lowercase" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item fw-bold text-muted" href="{{ path('app_edit_dashboard') }}">
                                    <i class="bi bi-pencil-square me-1"></i> Panneau d'édition
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_edit_image_index') }}">
                                    <i class="bi bi-image me-1"></i> Articles
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_edit_category_index') }}">
                                    <i class="bi bi-folder-fill me-1"></i> Catégories
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_edit_portal_index') }}">
                                    <i class="bi bi-tag-fill me-1"></i> Portails
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_edit_article_index') }}">
                                    <i class="bi bi-file-earmark-text me-1"></i> Mes articles
                                </a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item fw-bold text-muted" href="#">
                                        <i class="bi bi-gear-fill"></i> Panneau d'administration
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item pe-2">
                        <a class="btn btn-outline-light" href="{{ path('app_profile') }}">
                            <i class="bi bi-person-fill me-1"></i> {{ app.user.username }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="{{ path('app_logout') }}">
                            Déconnexion
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>