<nav class="navbar navbar-expand-lg navbar-dark bg-default text-uppercase">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}">{{ app_name }}</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item me-3">
					<a class="nav-link {{ active_link(app.request, 'app_home') }}" href="{{ path('app_home') }}">
						Accueil
					</a>
				</li>
				{% if enable_contact %}
					<li class="nav-item me-3">
						<a class="nav-link {{ active_link(app.request, 'app_contact') }}" href="{{ path('app_contact') }}">
							Contact
						</a>
					</li>
				{% endif %}
				<li class="nav-item dropdown me-3">
					<a class="nav-link dropdown-toggle {{ active_links(app.request, ['app_article_index', 'app_portal_index', 'app_image'], false) }}" href="#" id="pages" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Encyclopédie
					</a>
					<ul class="dropdown-menu text-capitalize" aria-labelledby="pages">
						<li>
							<a class="dropdown-item" href="{{ path('app_portal_index') }}">
								Portails
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_article_index') }}">
								Articles
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_timeline_index') }}">
								Chronologies
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_image') }}">
								Galerie
							</a>
						</li>
						{{ get_pages() }}
					</ul>
				</li>
				{% if is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
					<li class="nav-item dropdown me-3">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Actions
						</a>
						<ul class="dropdown-menu text-lowercase" aria-labelledby="navbarDropdown">
							<li>
								<a class="dropdown-item fw-bold text-muted" href="{{ path('sonata_admin_dashboard') }}">
									<i class="bi bi-pencil-square me-1"></i>
									Tableau de bord
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('admin_app_category_list') }}">
									<i class="bi bi-folder-fill me-1"></i>
									Catégories
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('admin_app_portal_list') }}">
									<i class="bi bi-tag-fill me-1"></i>
									Portails
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('admin_app_article_list') }}">
									<i class="bi bi-file-earmark-text me-1"></i>
									Articles
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('admin_app_timeline_list') }}">
									<i class="bi bi-hourglass me-1"></i>
									Chronologies
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('admin_app_image_list') }}">
									<i class="bi bi-image me-1"></i>
									Images
								</a>
							</li>
						</ul>
					</li>
				{% endif %}
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li class="nav-item pe-2">
						<a class="btn btn-outline-light" href="{{ path('app_profile') }}">
							<i class="bi bi-person-fill me-1"></i>
							{{ app.user.username }}
						</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-outline-light" href="{{ path('app_logout') }}">
							Déconnexion
						</a>
					</li>
				{% else %}
					{% if enable_login %}
						<li class="nav-item pe-1">
							<a class="btn btn-outline-light" href="{{ path('app_login') }}">Connexion</a>
						</li>
					{% endif %}
					{% if enable_registration %}
						<li class="nav-item">
							<a class="btn btn-outline-light" href="{{ path('app_register') }}">Inscription</a>
						</li>
					{% endif %}
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
