<section class="container-fluid my-4">
    
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-7">
                <h2 class="mb-2 text-muted h4">Article</h2>
                <div class="border rounded-3 p-4">
                {{ form_row(form.title, {'attr': {'class': 'rounded-0 form-article-title'}}) }}
                    {{ form_row(form.content) }}
                </div>
            </div>
            <div class="col-md-5">
                <h2 class="mb-2 text-muted h4">Informations sur l'article</h2>
                <div class="border rounded-3 p-4">
                    {{ form_row(form.keywords) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.portals) }}
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="border rounded-3 p-2">
                    <button class="btn btn-secondary">{{ button_label|default('Sauvegarder') }}</button>
                </div>
            </div>
        </div>
    {{ form_end(form) }}

</section>